:root {
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Montserrat',
        sans-serif;

}

/**Menu de navegacion**/
#header {
    position: relative;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.menu .logo-box {
    margin-left: 20px;
}

.menu .list-container {
    margin-right: 20px;

}

.menu .list-container .lists {
    display: flex;
}

.menu .list-container .lists li {
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo {
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover {
    background: var(--red);
    color: #fff;
}

.menu .logo-box h1 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.btn-menu>.fa-bars {
    display: none;
}

/**IMG header**/
.img-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 200;

}

.img-header .welcome p {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}


.img-header .welcome hr {
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome>button {
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img-header .welcome>button:hover {
    background: var(--blue);
}

/**Acerca de nosotros**/

.acerca-de {
    width: 100%;
    margin-top: 120px;

}

.acerca-de .info-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1 {
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p {
    font-size: 17px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    margin: 10px 0;
}

.acerca-de .info-container .about-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.acerca-de .info-container .about-gallery img {
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .about-more {
    display: flex;
    width: 100%;
    justify-content: center;
}

.acerca-de .info-container .about-more button {
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-container .about-more button:hover {
    background: var(--blue);
}

/**Nuestros proyectos**/

.our-projects {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/img-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.our-projects .deg-background {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.our-projects .ejeZproject {
    position: relative;
    width: 100%;
    height: 100%;
}

.our-projects .container-project {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title {
    border: solid 2px #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.our-projects .container-project .project-title h2 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}

.our-projects .container-project .project-title hr {
    background: #fff;
    width: 50%;
    margin: 10px auto;

}

.our-projects .container-project .project-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.our-projects .container-project .project-img img {
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
}

/**Testimoinos**/

.testimonios {
    width: 100%;
    margin-top: 120px;
}

.testimonios .testimonios-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonios .testimonios-title h2 {
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 20px;
}

.testimonios .testimonios-title hr {
    width: 60%;
    margin: auto;
    height: 3px;
    background: var(--black);
    border: none;
}

.testimonios .box-testimonios {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonios .box-testimonios .card-testimonio {
    width: 45%;
    margin: 20px;
}

.testimonios .box-testimonios .card-testimonio .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios .box-testimonios .card-testimonio .card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text {
    width: 100%;
    border: solid 2px var(--red);
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 30px;
    cursor: pointer;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text h4 {
    color: var(--red);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text p {
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover {
    border: 2px solid var(--blue);
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover h4 {
    color: var(--blue);
}


/**footer**/

.footer {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/footer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer .deg-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 100; */
    background: rgba(0, 0, 0, 0.6);
}

.footer .ejeZfooter {
    width: 100%;
    height: 100%;
    position: relative;
}

.footer .footer-content {
    width: 90%;
    padding-top: 100px;
    margin: auto;
}

.footer .footer-content .footer-title {
    width: 50%;
    border: 2px solid #fff;
    margin: auto;
    padding: 15px;
}

.footer .footer-content .footer-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

.footer .footer-content .footer-title hr {
    width: 80%;
    margin: auto;
}

.footer .footer-content .formulario-content {
    width: 60%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 150px;
}

.footer .footer-content .formulario-content #formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .footer-content .formulario-content #formulario label {
    text-align: center;
    color: var(--white);
    font-size: 22px;
    margin: 30px 0 10px 0;
}

.footer .footer-content .formulario-content #formulario input {
    width: 90%;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    height: 35px;
    font-size: 17px;
    color: var(--black);

}

.footer .footer-content .formulario-content #formulario textarea {
    width: 90%;
    margin: auto;
    font-size: 15px;
    color: var(--black);
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    padding: 20px;
    height: 200px;
}

.footer .footer-content .formulario-content #formulario .send {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.footer .footer-content .formulario-content #formulario .send button {
    width: 150px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.footer .footer-content .formulario-content #formulario .send button:hover {
    background: var(--blue);
}

.footer .footer-content .formulario-content #formulario .mensaje-form p {
    color: #fff;
}

.footer .footer-content .footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    border-top: 5px solid #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content .footer-text p {
    color: #fff;
    font-size: 18px;

}